@media only screen and (min-width: 375px) and (max-height: 812px) and (orientation: portrait) {

  .header > a {
    font-size: 1.0rem;
    text-decoration: none;
    color: white;
   }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

   a.nav-link {
    font-size: 0.75rem;
    color: white;
   }

   a.navbar-brand {
    font-size: 1.25rem;
    color: white;
   }

   .navbar-nav {
    margin-right: 1rem;
   }

   .bot-left > h1 {
    font-size: 1.25rem;
    color: darkblue;
   }

   #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: white;
   }

   .webpage-intro > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
   }

   .slideshow-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 10vh;
   }

   .title-box {
     display: flex;
     flex-direction: row;
     align-self: flex-start;
     justify-content: center;
     width: 55%;
   }

   .title-box > h1 {
     font-size: 1.375rem;
     text-align: center;
   }

   .mySlides {
     display: flex;
     flex-direction: row;
     align-self: flex-end;
     justify-content: center;
     width: 50%;
     margin-right: 2rem;
   }

   .mySlides > h1 {
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 1.5rem;
   }

   div.text-align:center {
     display: flex;
     flex-direction: row;
     justify-content: center;
   }

   section.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/about-me-background.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
   }

   div.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
   }

  .about > h2 {
    font-size: 2rem;
  }

  div.about > p {
    font-size: 1.5rem;
    margin-bottom: 7rem;
   }

  #skills {
    display: flex;
    flex-direction: row;
  }

  .skills > .col-11 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-bottom: 15rem;
  }

  .col-7 > h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration-line: underline;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  #skills {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
  }

  .skill-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: spartan;
    font-weight: 600;
    margin: 1.25rem;
  }
  .icon-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .icon > img {
    height: 40px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .icon > h3 {
    text-align: center;
    font-size: 0.75rem;
  }

  #apps {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
  }

  .app-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20rem;
  }

  h2.app-title {
    font-size: 2rem;
    margin: 0;
  }

  .app-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .app-pair {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  div.app-pair > img {
    height: 12vh;
  }

  .links {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-bottom: 2rem;
    justify-content: center;
  }

  a.app-link {
    font-size: 1rem;
  }

  a.app-link2 {
    font-size: 1rem;
  }

  #contact {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  .contact-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
  }

  .contact-row {
    margin-top: 2rem;
    height: 10vh;
  }

  .contact-col > a:nth-of-type(1) {
    font-size: 9.25rem;
  }

  .contact-col > a:nth-of-type(2) {
    font-size: 1.25rem;
  }
}
